modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo 'Services are managed by artifact workflows' && sleep infinity"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
MONGODB_URI = "mongodb+srv://davidcyrildev:85200555@davidcyriltech.qwkqlbf.mongodb.net/?appName=davidcyriltech"
ADMIN_EMAIL = "apextutors911@gmail.com"
ADMIN_PASSWORD = "Emergency911@"
JWT_SECRET = "examcore_pulse_secret_key_2026_ultra_secure"
IMAGE_UPLOAD_API = "https://rynekoo-api.hf.space/tools/uploader/alibaba"
VAPID_PUBLIC_KEY = "BLQZ_QuPsspyMDZEDv_l9Sn4GL7EFd2iItXnTzMglxDxrn0uFgTwgfNBaHmoAulzJLl5XYtt-5GKORNGNv0rcIg"
VAPID_PRIVATE_KEY = "IgSvhG4zrfdlej3hbKG-DPUEju3rFjojTFGckC0OmR0"
